{% extends "sccore/base.html" %}

{% load easy_maps_tags i18n %}

{% block content %}
<div>
    {{ object.content|safe }}
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for image in object.galleryimage_set.all %}
        <li data-target="#carousel" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
        {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        {% for image in object.galleryimage_set.all %}
        <div class="item{% if forloop.first %} active{% endif %}">
          <img src="{{ image.image.url }}" alt="{{ image.title }}">
          <div class="carousel-caption">
            {{ image.description }}
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">{% trans 'Previous' %}</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">{% trans 'Next' %}</span>
      </a>
    </div>
</div>
{% endblock %}
