<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ website.title }}{% endblock %}</title>
    {% include 'sccore/utils/meta.html' with metas=website.look.config_dict.head.meta %}
    {% include 'sccore/utils/base.html' with base=website.look.config_dict.head.base %}
    {% include 'sccore/utils/link.html' with links=website.look.config_dict.head.link start_url=website.look.start_url %}
    {% include 'sccore/utils/script.html' with scripts=website.look.config_dict.head.script start_url=website.look.start_url %}

    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block body %}

        {% block header %}
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="{% url 'page_detail' website.slug website.menu.0.slug %}" class="navbar-brand">{{ website.title }}</a>
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    {% block menu %}
                        <div class="navbar-collapse collapse" id="navbar-main">
                            <ul class="nav navbar-nav navbar-right">
                                {% for menu_page in website.menu %}
                                    <li {% if object.id == menu_page.id %}class="active"{% endif %}>
                                        <a href="{% url 'page_detail' website.slug menu_page.slug %}">{{ menu_page.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block container %}
            <div class="container">
                {% block contenttitle %}
                    <br><br>
                    <h1>{{ object.title }}</h1>
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}

    {% endblock %}

    {% include 'sccore/utils/link.html' with links=website.look.config_dict.body.link start_url=website.look.start_url %}
    {% include 'sccore/utils/script.html' with scripts=website.look.config_dict.body.script start_url=website.look.start_url %}

    {% block extra_body %}{% endblock %}
</body>
</html>
